body
 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: 'Cuprum', Arial, sans-serif;

}

h1 {
  font-size: 16px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #ee3643;
}

h2 {
  font-size: 36px;
  color: #32425c;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
}

h3 {
  font-size: 30px;
  color: #32425c;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;

}

.services-header__title,
.company-title {
  color: #000000;
}

h4 {
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  /*display: inline-block;*/
}

h6,
.filter-link {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

legend {
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

/*общие стили для красных кнопок*/
.red-btn {
  display: block;
  padding: 10px 30px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
}

.container {
  margin: 0 auto;
  width: 940px;
  outline: 1px dotted black;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main-header {

}

.header-top {
  color: #ffffff;
  background-color: #293449;
}

.header-top__search,
.header-top__bookmarks,
.header-top__cart,
.header-top__order {
  float: left;
  width: 20%;
}

.header-top__logo {
  font-size: 24px;
  float: left;
  width: 220px;
  height: 40px;
  background-color: #ee3643;
  color: #ffffff;
  padding: 0 0;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-top__logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-top__logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-top__search {
  outline: 3px dotted white;
  width: 270px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-top__search:focus {
  background-color: #fff;
}

.search-field {
  font-size: 18px;
  color: #ffffff;
  background-color: #293449;
  width: 270px;
  border: 1px solid  #293449;
  padding: 6px 0;
  padding-left: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-field:focus {
  background-color: #fff;
 }

.header-top__links {
  float: right;
  outline: 3px dotted white;
  margin: 0;
  font-size: 0;
}

.header-top__links > a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 150px;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  padding: 8px 0;
}

.header-top__order {
  background-color: #63a63e;
  padding: 15px 20px;

}

.header-top__order:hover {
  background-color: #5fbb2d;
 }

.header-top__order:active {
  background-color: #518534;
 }

.header-sky-blue {
  background-color: #f1f5f7;

  padding: 45px 0;
}

.header-middle  {
  margin-bottom: 40px;
  border: 1px solid transparent;
}

.header-middle__title {
  float: left;
  width: 210px;
  font-size: 16px;
  line-height: 23px;
  padding-left: 50px;

}

.header-info {
  float: left;
  width: 270px;
  margin-left: 50px;
  outline: 1px dotted blue;

}

.header-info__phone {
  display: block;
  font-size: 18px;

  color: #e9292a;
  border: 2px solid #ffffff;
  text-align: center;
  padding: 10px 35px 10px 65px;
  text-decoration: none;

}

.header-info__adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding: 10px 0;
  outline: 1px dotted black;

}

.header-user-block {

  width: 290px;
  /*font-size: 0;*/
  outline: 1px dotted black;
  float: right;

}

.header-user-block__signin,
.header-user-block__signup {
  display: block;
  background-color: #fff;
  font-size: 21px;
  color: #000000;
  /*text-align: center;*/
  text-decoration: none;

}

.header-user-block__signin {
  width: 70px;
  float: left;
  padding: 15px 20px 15px 50px;
}

.header-user-block__signup {
  margin-right: 0;
  width: 100px;
  float: right;
  padding: 15px 25px;
}

.header-user-block__signin:hover,
.header-user-block__signup:hover {
  color: #ee3643;

}

.header-user-block__signin:active,
.header-user-block__signup:active {
  color: #d2d2d2;
 }

nav {
  border-bottom: 5px solid #293449;
  background-color: #32425c;
 }

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  padding: 0 25px;
}

.main-nav li {
  font-size: 17px;
  line-height: 17px;
  display: inline-block;
  vertical-align: top;

}

.main-nav a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;

}
.main-nav a:hover {
  background-color: #293449;

}
 /* Мейн*/
 .index-main {
  margin-top: 60px;
 }

 .features {
  margin-bottom: 50px;
  margin-right: 0;
 }

 .feature-item {
  float: left;
  width: 300px;
  height: 120px;
  padding: 20px 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

.feature-item-row:last-child {
  margin-right: 0;

}


.feature-item__title {
  width: 160px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;

}

.feature-item__btn {
  margin: 0 140px 0 0;
  padding: 10px 10px;*/
  width: 140px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feature-item__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature-item__btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.feature-item--materials {
  background-color: #f6b22d;
}

.feature-item--tools {
  background-color: #4aafde;
}

.feature-item--cars {
  background-color: #cc79d1;
  margin-right: 0;
}

.feature-item--discount {
  background-color: #85d179;

}
 .feature-item--delivery {
  background-color: #f6b22d;

 }
/*временные стили*/
.feature-slider__slide2,
.write-us,
.map-popup,
.buy-hover,
.guarantee-slide,
.credit-slide {
  display: none;
}

.feature-slider {
  float: left;
  width: 620px;
  height: 265px;
  margin-right: 20px;
}

.feature-slider__slide1 {
  width: 570px;
  height: 215px;
  padding: 25px;
  background: url(../img/perf-worker.jpg ) no-repeat 100%;
}

.feature-slider__slide2 {
  width: 570px;
  height: 215px;
  padding: 25px;
  background: url(../img/drill-worker.jpg ) no-repeat 100%;
}

.feature-slider__title {
 color: #ffffff;
 margin: 0;
 padding-bottom: 10px;
}

.feature-slider__description {
 color: #ffffff;
 margin: 0;
 padding-bottom: 25px;
 font-size: 18px;
 line-height: 24px;

}

.icon-left {

 width: 45px;
 height: 45px;
 float: left;
 background-color: #000;
}

.icon-right {
 width: 45px;
 height: 45px;
 float: right;
 background-color: #000;
}

.feature-slider__btn {
  width: 140px;
  text-transform: uppercase;
  margin-top: 50px;
}

.feature-item-column {
  float: right;
  width: 300px;

}

.catalog-header {
  background-color: #f7f3ec;
  padding: 25px;
  width: 890px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog-header__title {
  float: left;
  width: 400px;
  margin: 0;
  padding: 7px 0;
}

.catalog-header__btn {
  float: right;
  width: 150px;
  display: block;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
}

/*карточка товара*/
.catalog-items {
  margin-bottom: 20px;
  padding-right: 0;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  height: 315px;
  width: 215px;
  padding: 20px 15px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-item:nth-child(4n+4){
  margin-right: 0;
}

.catalog-item img:hover {
  display: none;
}

.buy-hover:hover {
  display: block;
  width: 200px;
  height: 200px;
}

.buy-hover__btn {
  width: 135px;
  display: block;
  background-color: #63a63e;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  box-shadow: 3px 0 0 #367315;
}


.buy-hover__bookmark{
  width: 135px;
  display: block;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  color: #32425c;
  border: 3px solid #63a63e;


}

.catalog-item__description {
  margin: 0;
  width: 165px;
  text-align: center;
}

.catalog-item__discount {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  width: 165px;
  display: block;
  padding: 10px 0;
  text-align: center;

}

.catalog-item__price {
 width: 130px;
 margin: 0 auto;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

/*бренды*/
.brands-logo {
  margin-bottom: 80px;
 }

.brands-logo__link {
  float: left;
  width: 215px;
  height: 140px;
  border: 2px solid #e5e5e5;
  padding: 45px 17px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.brands-logos {
 margin: 0;
}

.brands-logo__link:nth-child(4n) {
  margin-right: 0;
}

/*сервисы*/
.services {
  background-color: #f2f6f8;
}

.services-header__title {
  margin-top: 60px;

}

.services-header__description {
  display: block;
  width: 280px;
  font-size: 13px;
  line-height: 24px;

}

.services-menu {
  float: left;
  width: 240px;
  margin-right: 80px;

}

.services-menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 240px;
}

.services-menu ul::after {
  background-image: url(../img/vertical.png);


}

.services-menu li{
  padding: 20px;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #32425c;
  color: #ffffff;
}

.slide-block {
  padding-bottom: 100px;
  background: url(../img/truck.png) no-repeat right center;

}

.delivery-slide,
.guarantee-slide,
.credit-slide {
  float: left;
  width: 620px;

}

.delivery-slide__title {
  margin: 0;
  padding-bottom: 30px;

}

.delivery-slide__description {
  margin: 0;
}


/*О компании*/
.company-info {

}

.company-description {
  float: left;
  width: 530px;
  padding-top: 80px;
  padding-right: 110px;
  padding-bottom: 85px;
}

.company-contacts {
  float: right;
  width: 300px;
  padding-top: 80px;
  padding-bottom: 85px;
}

.company-title {

}

.company-description p,
.company-contacts p {
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 30px;
}

.company-description ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 215px;
 /*margin-top: 20px;*/
 padding-bottom: 40px;

}

.company-description li {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 20px;
  padding-left: 35px;
}

.more-info-btn {
  width: 215px;
}

.company-contacts p {

}

.map {
  padding: 20px 0 40px 0;
}

.mail-to {
  width:
}
/*Футер*/

.main-footer {
  background-color: #32425c;

}

.footer-info {
 float: left;
 width: 330px;

}

.footer-menu {
  float: right;
  width: 600px;
}

.footer-logo{
  display: block;
  width: 120px;
  height: 30px;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.address-phone p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

}

.footer-menu {

}

.footer-menu__top ul,
.footer-menu__bottom ul{

  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-menu__top li,
.footer-menu__bottom li{
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.footer-menu__top a,
.footer-menu__bottom a {

 display: block;
 padding: 40px 0 0 50px;
 text-decoration: none;
 color: #ffffff;
}

.footer-menu__bottom ul {
  padding-left: 20px;
}

.footer-menu__bottom a {
  color: #ffd180;
}

.footer-menu__top a:hover,
.footer-menu__bottom a:hover {
  text-decoration: underline;
}

.footer-bottomline {

  background-color: #293449;
}


.copyrights {
  float: left;
  width: 240px;
  margin-right: 50px;
}

.copyrights p {
  color: #ffffff;
}
.social {
  float: left;
  width: 140px
}

.developers-info {
  float: right;
  width: 300px;
}

.footer-mail-to {
  float: left;
  width: 140px;
}

.developers-webpage {
  float: right;
  width: 110px;
}




/*каталог*/
.header-user-block {
  width: 300px;
}

.username {
  width: 180px;
  display: block;
  padding: 15px 65px 15px 45px;
  color: #424242;
  text-decoration: none;
  background-color: #fff;

}

.username:active {
  color: #cacaca;
}

.user-links {

}

.header-user-block__my-orders {
  color:
}

.header-user-block__my-orders:hover {
  color: #ee3643;
}

.header-user-block__my-orders:active {
  color: #c5cad0;
}

.header-user-block__settings:hover  {
  color: #ee3643;
}

.header-user-block__settings:active  {
  color: #c5cad0;
}



.breadcrumbs li{
  display: inline-block;

}
.breadcrumbs a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  padding: 20px 10px;

  }

.perforators {
  background-color: #f2f6f8;
  display: block;
  padding: 35px 25px;

}

.main-filter {
  float: left;
  width: 220px;
  margin-right: 20px;

}

.filter-name {
 padding: 11px 15px;
 margin: 0;
 font-size: 13px;
 line-height: 18px;
 background-color: #f7f3ec;
 text-transform: uppercase;

}
 fieldset {
 border-style: none;
 }

legend {
font-size: 17px;
line-height: 30px;
color: #0000000;
text-transform: uppercase;
padding: 20px 0;
}

label {
  width: 175px;
  float: right;
  font-size: 14px;
line-height: 20px;
color: #0000000;
text-transform: uppercase;
  padding: 12px 0;
}

input {
  width: 25px;
  padding-left: 10px;
  float: left;
 }
button[type="submit"] {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  width: 140px;
  padding: 10px 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;


  }
.main-catalog {
  float: right;
  width: 700px;
  margin-left: 0;
}

.main-catalog-filter {
  padding-left: 0;
}

.main-catalog-filter__title {
  float: left;
  width: 230px;

 padding: 11px 15px;
 margin: 0;
 font-size: 13px;
 line-height: 18px;
 background-color: #f7f3ec;
 text-transform: uppercase;

}

.main-catalog-filter__sort {
  float: right;
  font-size: 0;
  width: 430px;
  padding-left: 11px 5px;
}

.filter-link {
  padding: 11px 15px;
 margin: 0;
 font-size: 13px;
 line-height: 18px;
 background-color: #f7f3ec;
 text-transform: uppercase;
 text-decoration: none;
}

.main-catalog-filter__sort li {
  display: inline-block;
  vertical-align: top;
}

.catalog-page-item:nth-child(3n) {
  margin-right: 0;

}
.perforators-description {
  background-color: #f2f6f8;
  padding: 65px 0;
}

.perforators-description p {
  margin: 0;
}

